// Les commentaires
// "/* */" Présent à la sortie du CSS, "//" Pas compile (pas présent dans le CSS de sortie)

/*--------------------------------------------------------------
# Import
--------------------------------------------------------------*/
@import "./reset.scss"; //Reset CSS
@import "./boostrap/bootstrap.scss"; //Boostrap 4.0 (https://grafikart.fr/tutoriels/sass-bootstrap-1110#autoplay)


@import "./variables.scss"; //Variables
@import "./modal.scss"; //Modal
@import "./animations.scss"; //Animations

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


/*--------------------------------------------------------------
# Loop css
--------------------------------------------------------------*/
@for $i from 0 to 10 {
  .mb-#{$i}rem {
    margin-bottom: #{$i}rem;
  }
  .mt-#{$i}rem {
    margin-top: #{$i}rem;
  }
}


/*--------------------------------------------------------------
# Legacy css
--------------------------------------------------------------*/
%bold_text {
    font-weight: 900;
    font-size: 1.4rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100%; 
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;          /* Likely future */    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    overflow-x: hidden;
}




